env
.ruff_cache
__pycache__
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info
*.eggs
*.whl   
*.mypy_cache
*.pytest_cache
*.coverage
*.cover
*.hypothesis
.vscode
*.idea
*.DS_Store     
*.vscode-test
*.coverage.*
